@font-face {
  font-family: "iconfont"; /* Project id 2644686 */
  src: url('//at.alicdn.com/t/font_2644686_aaxjwlc8iq8.woff2?t=1631695888190') format('woff2'),
       url('//at.alicdn.com/t/font_2644686_aaxjwlc8iq8.woff?t=1631695888190') format('woff'),
       url('//at.alicdn.com/t/font_2644686_aaxjwlc8iq8.ttf?t=1631695888190') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhinengcaigoudan:before {
  content: "\e6aa";
}

.icon-kehuguanli:before {
  content: "\e6a6";
}

.icon-shangpinzhongxin:before {
  content: "\e6a2";
}

.icon-shangjiaguanli:before {
  content: "\e6a3";
}

.icon-zifeiguanli:before {
  content: "\e6a4";
}

.icon-dingdanguanli:before {
  content: "\e6a5";
}

.icon-shangjiashenhe:before {
  content: "\e6a7";
}

.icon-quanxianguanli:before {
  content: "\e6a8";
}

.icon-chengshiguanli:before {
  content: "\e6a9";
}

.icon-ruku:before {
  content: "\e69f";
}

.icon-chuhuo:before {
  content: "\e6a0";
}

.icon-shanchu1:before {
  content: "\e68b";
}

.icon-xinxibiangeng:before {
  content: "\e68a";
}

.icon-tishi1:before {
  content: "\e689";
}

.icon-shangchuantupian:before {
  content: "\e688";
}

.icon-guanbi:before {
  content: "\e687";
}

.icon-xiala:before {
  content: "\e684";
}

.icon-tishi:before {
  content: "\e685";
}

.icon-guanlian:before {
  content: "\e686";
}

.icon-xinzeng1:before {
  content: "\e683";
}

.icon-shanchu:before {
  content: "\e682";
}

.icon-bianji:before {
  content: "\e680";
}

.icon-shoujinhang:before {
  content: "\e67f";
}

.icon-shuaxin:before {
  content: "\e681";
}

.icon-xinzeng:before {
  content: "\e67c";
}

.icon-yunyingguanli1:before {
  content: "\e67e";
}

.icon-xiaoxi:before {
  content: "\e672";
}

.icon-caiwuguanli:before {
  content: "\e673";
}

.icon-xitongpeizhi:before {
  content: "\e674";
}

.icon-shenheguanli:before {
  content: "\e675";
}

.icon-cangchuwuliu:before {
  content: "\e676";
}

.icon-caigouguanli:before {
  content: "\e677";
}

.icon-gongzuotai:before {
  content: "\e678";
}

.icon-chanpingongyingguanli:before {
  content: "\e679";
}

.icon-chanpinguanli:before {
  content: "\e67a";
}

.icon-caigoudanguanli:before {
  content: "\e67b";
}

.icon-gongyingshangguanli:before {
  content: "\e67d";
}
