
@font-face {
  font-family: "iconfont"; /* Project id 2815173 */
  src: url('//at.alicdn.com/t/font_2815173_7ip19j5155e.woff2?t=1631848926399') format('woff2'),
  url('//at.alicdn.com/t/font_2815173_7ip19j5155e.woff?t=1631848926399') format('woff'),
  url('//at.alicdn.com/t/font_2815173_7ip19j5155e.ttf?t=1631848926399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiayijibie:before {
  content: "\e6b3";
}

.icon-kebianji:before {
  content: "\e6b4";
}

.icon-lajitong:before {
  content: "\e6b5";
}

.icon-leibieguanli:before {
  content: "\e6a9";
}

.icon-dingdanguanli:before {
  content: "\e6aa";
}

.icon-cangkushangguanli:before {
  content: "\e6ab";
}

.icon-shangpinguanli:before {
  content: "\e6ac";
}

.icon-ruku:before {
  content: "\e6ad";
}

.icon-chuhuo:before {
  content: "\e6ae";
}

.icon-cangkuguanli:before {
  content: "\e6af";
}

.icon-pandianguanli:before {
  content: "\e6b0";
}

.icon-tiaoboguanli:before {
  content: "\e6b1";
}

.icon-gongyingshangguanli:before {
  content: "\e6b2";
}
