html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 14px;
	line-height: 1;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,html{
  height: 100%;
}

// 相对定位
.y-relative, .y-rela {
  position: relative;
}

// 绝对定位
.y-absolute, .y-abso {
  position: absolute;
}

// 字体设置
.y-font-xs {
	font-size: 12px;
}

.y-font-sm {
	font-size: 14px;
}

.y-font-md {
	font-size: 16px;
}

.y-font-lg {
	font-size: 18px;
}

.y-font-xl {
	font-size: 20px;
}

// flex布局
.y-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.y-flex-wrap {
  flex-wrap: wrap;
}

.y-flex-nowrap {
  flex-wrap: nowrap;
}

.y-col-center {
  align-items: center;
}

.y-col-top {
  align-items: flex-start;
}

.y-col-bottom {
  align-items: flex-end;
}

.y-row-center {
  justify-content: center;
}

.y-row-left {
  justify-content: flex-start;
}

.y-row-right {
  justify-content: flex-end;
}

.y-row-between {
  justify-content: space-between;
}

.y-row-around {
  justify-content: space-around;
}

.y-text-left {
  text-align: left;
}

.y-text-center {
  text-align: center;
}

.y-text-right {
  text-align: right;
}

.y-flex-col {
  flex-direction: column;
}

// 定义flex等分
@for $i from 0 through 12 {
  .y-flex-#{$i} {
    flex: $i;
  }
}

// 自定义字体(px)单位
@for $i from 10 through 60 {
  .y-font-#{$i} {
    font-size: $i + px;
  }
}

// 定义内外边距
@for $i from 1 through 100 {
  // margin
  .y-margin-#{$i}, .u-m-#{$i} {
    margin: $i + px!important;
  }
  // padding
  .y-padding-#{$i}, .u-p-#{$i} {
    padding: $i + px!important;
  }

  // 缩写 left, top, right, bottom
  @each $short, $long in l left, t top, r right, b bottom {
    // 定义外边距
    .y-m-#{$short}-#{$i} {
      margin-#{$long}: $i + px!important;
    }
    // 定义内边距
    .y-p-#{$short}-#{$i} {
      padding-#{$long}: $i + px!important;
    }
    // 定义外边距，完整版
    .y-margin-#{$long}-#{$i} {
      margin-#{$long}: $i + px!important;
    }
    // 定义内边距，完整版
    .y-padding-#{$long}-#{$i} {
      padding-#{$long}: $i + px!important;
    }
  }
}

// 定义显示几行
@for $i from 1 through 5 {
  .y-line-#{$i} {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: $i;
  }
}

// 去除button的默认样式
.y-reset-button {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  &::after {
    border: none;
  }
}

// 去除input默认样式
.y-reset-input {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  &::after {
    border: none;
  }
}

// 清除浮动
.y-clearfix:after, .clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

.y-block {
  display: block;
}

.y-inline {
  display: inline;
}


/*chrome下滚动条样式*/
::-webkit-scrollbar-track-piece { width: 8px; background-color: #f5f5f5; border-radius: 6px; }

::-webkit-scrollbar { width: 8px; height: 8px; }

::-webkit-scrollbar-thumb { height: 50px; background: #bec7d5; border-radius: 6px; }

::-webkit-scrollbar-thumb:hover { background: #91a0b5; }

// 路由页面容器 class
.content-container{
  height: 100%;
  padding: 0px 16px 16px 16px;
  box-sizing: border-box;
  background-color: $--background-color-grey;
  position: relative;
}

.footer-button {
  position: fixed;
  bottom: 0px;
  left: 208px;
  height: 64px;
  width: calc(100% - 208px);
  background: $--color-white;
  box-shadow: $--box-shadow-light;
  line-height: 64px;
  padding-left: 40px;
  box-sizing: border-box;
}
