$menuText:#AEB6BC;
$menuActiveText:$--color-primary;
$subMenuActiveText:#FFFFFF;

// $menuBg:#202020;
$menuBg:#001529;
$menuHover:#000c17;

$subMenuBg:#000c17;
$subMenuHover:#000c17;

$backWhite:#ffffff;

$sideBarWidth: 256px;



:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  backWhite: $backWhite;
}

.nav-menu-vertical{
  background: $menuBg !important;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  ::v-deep .el-menu-item {
    // & > .menu-item__children-title{
    //   margin-left: 4px;
    // }
    background-color: $subMenuBg !important;
    color: hsla(0,0%,100%,.65);;
    &:hover {
      color: $subMenuActiveText !important;
    }
  }
  .el-menu {
    background: $menuBg !important;
  }
  ::v-deep .el-submenu {
    display: table;
    width: 100%;
    vertical-align: middle;

    & > .el-submenu__title {
      display: flex;
      align-items: center;
      color: hsla(0,0%,100%,.65);
      &:hover {
        background: transparent !important;
      }
    }

    &:hover > .el-submenu__title {
      color: $subMenuActiveText !important;
      & > .iconfont, & > .el-submenu__icon-arrow {
        color: $subMenuActiveText !important;
      }
    }

    & > .el-submenu__title > .iconfont {
      font-size: 14px;
      margin-right: 10px;
    }

    /* 展开子菜单的样式 */
    &.is-opened {
      .el-menu-item {
        .menu-item__children-title{
          margin-left: 4px;
        }
        background-color: $subMenuBg !important;
        &:hover {
          color: $subMenuActiveText !important;
        }
      }
      & > .el-submenu__title {
        color: $subMenuActiveText !important;
        & > .iconfont, & > .el-submenu__icon-arrow {
          color: $subMenuActiveText !important;
        }
      }
    }


    /* 选中时子菜单的样式 */
    &.is-active {
      .el-menu-item.is-active {
        background: $menuActiveText !important;
        color: $subMenuActiveText !important;
      }
    }

    .menu-item-title {
      font-size: 14px !important;
    }
  }
}





